@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

nav{
	font-family: 'Montserrat' ;
	background-color:#1a1a1a ;
	font-size: 20px;
}

#logo{
	width: 64px;
}

*{
	font-family:"Montserrat";
	color: #8EE4AF;
}

footer{
	font-family: 'Roboto Condensed';
	background-color: #1a1a1a;
}

html{
	height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
}


#navbarSupportedContent{
	margin-left: 10px;
}

.slides{
	width:100%;
}

iframe{
	margin-top: 20px;
	margin-bottom: 20px;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 8vw;
	font-weight: 900;
	background-color: #5cdb95;
	color: #2b2b2b;
	display: block;
	padding: .5em;
}

h1:nth-child(2) {
	position: absolute;
	background-color: #2b2b2b;
	color: #5cdb95;
	clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.score-board{
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
	width: 200px;
	color: white;
	font-size: 40px;
	padding:15px 20px;
	font-family: "Asap";
	position: relative;
}

.badge{
	background-color: #A3CB38;
	color: #fff;
	font-size: 15px;
	padding: 2px 10px;
	font-family: "Asap";
}

#user-label{
	position: absolute;
	top: 35%;
	left: -20px;
}

#comp-label{
	position: absolute;
	top: 35%;
	right: -20px;
}

.result{
	text-align: center;
	color: white;
	font-size: 46px;
	font-family: "Asap";
	font-weight: bold;
}

.choices{
	margin: 50px 0px 20px 0px;
	text-align: center;
}

.choice{
	border: 4px solid white;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 20px;
	padding: 10px;
	transition: all 0.3s ease;
}

.choice:hover{
	cursor: pointer;
	background-color: #1e272e;
}

img{
	width: 200px;
}

/* .score{
	font-family: Asap;
} */

.red-glow{
	border: 4px solid #ff4d4d;
	box-shadow: 0 0 10px #ff3838;
}

.green-glow{
	border: 4px solid #32ff7e;
	box-shadow: 0 0 10px #3ae374;
}

.grey-glow{
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}
