
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.score-board{
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
	width: 200px;
	color: white;
	font-size: 40px;
	padding:15px 20px;
	font-family: "Asap";
	position: relative;
}

.badge{
	background-color: #A3CB38;
	color: white;
	font-size: 15px;
	padding: 2px 10px;
	font-family: "Asap";
}

#user-label{
	position: absolute;
	top: 35%;
	left: -20px;
}

#comp-label{
	position: absolute;
	top: 35%;
	right: -20px;
}

.result{
	text-align: center;
	color: white;
	font-size: 46px;
	font-family: "Asap";
	font-weight: bold;
}

.choices{
	margin: 50px 0px 20px 0px;
	text-align: center;
}

.choice{
	border: 4px solid white;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 20px;
	padding: 10px;
	transition: all 0.3s ease;
}

.choice:hover{
	cursor: pointer;
	background-color: #1e272e;
}

img{
	width: 200px;
}

/* .score{
	font-family: Asap;
} */

.red-glow{
	border: 4px solid #ff4d4d;
	box-shadow: 0 0 10px #ff3838;
}

.green-glow{
	border: 4px solid #32ff7e;
	box-shadow: 0 0 10px #3ae374;
}

.grey-glow{
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}
